/* mobile device */
@media screen and (max-width:576px){
    .navbar-section, .nav-content, .about-us, .banner-section{
        width: 100%;
        flex-direction: column;
    }
    .banner-section{
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    .list-item li{
        text-align: center;
    }
    .first-one{
        text-align: center;
        padding-left: 50px;
    }
    .div-1{
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .div-2{
        width: 100%;
    }
    .div-2 img{
        width: 100%;
    }
}
/* tablet device */
@media screen and (min-width:577px) and (max-width:768px) {
    .navbar-section, .nav-content, .about-us, .banner-section{
        width: 100%;
        flex-direction: column;
    }
    .banner-section{
        margin-left: 0;
        margin-right: 0;
        padding: 30px;
    }
    .div-1{
        width: 100%;
        display: block;
       margin: 0 auto;
    }
    .div-2{
        width: 100%;

    }
    .div-2 img{
        width: 100%;
    }
}
