
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* navbar section in here */
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px;
   padding-right: 80px;
    
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.g-color{
   color: #FF42A5;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-content a{
    text-decoration:none;
    margin-right: 30px;
}
.about-us{
    display: flex;
    align-items: center;
   color: #3C354F;
   font-size: 18px;
   font-weight: 500; 
   gap:30px ;
}
 .follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); 
    gap: 20px;
    padding: 5px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-icon{
    text-align: center;
    margin-right:30px;
}
/* banner section from here  */
.banner-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 80px;
  /* background: #FFF; */
}
.first-one{
    display: flex;
    gap: 10px;
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 10px;
}
.banner-sub-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-1{
    padding: 21px 41px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}
.btn-2{
    padding: 21px 45px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: white;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
/* gamer section in here */
.gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
   
}
/* .left-div{
    width: 50%;
    position: relative;
}
.right-div{
    width: 50%;
    position: relative;
}
.gamer-img{
    width: 100%;
} */
.gamer-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gamer-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400; margin-top: 15px;
    margin-bottom: 15px;
}
.gamer-btn{
   color: #FFF;
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 48px;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   padding: 21px 45px;
   border: none;
   margin-top: 15px;
   margin-bottom: 15px;
   text-align: right;
  margin-left: 330px;

}
.gamer-purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;

}
.purpose{
 font-size: 16px;
}
/* online game section */
.online-games{
    margin-top:100px;
    background: #FFF;
    text-align: center;
}
.online-games-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}
.online-text{
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-description{
    color: #534C64;
    margin-top: 10px;
}
.online-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
}
.games-img{
    border-radius: 5px;
    background: #FFF;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); */
    padding: 20px auto 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
      position:relative;
}
.games-img:hover{
  background: rgb(220, 201, 201);
} 
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0 ;
    opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
}
.content{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    color: white;
    text-align: center;
}
.container:hover .overlay{
    opacity: 0.8;
}
/* NO DOWNLOAD section */
.download{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 90px;
}
.download-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   color: #0B0223;
   font-size: 48px;
   font-weight: 700;
}
.play{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.download-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    padding-top:10px ;
}
.down-img{
    margin-top: -270px;
    margin-left: -150px;
}
/* second download */ 
.second-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 90px;
    margin-top: 100px;
}
.second-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
 
}
.play-1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.second-down-img{
    margin-left: 510px;
    margin-top: -245px;
}
/* career */
.career{
    display: flex;
    margin-top: 100px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding-left: 50px;
    /* padding-top: 100px; */
    
}
.career-title{
    color: #FFF;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
padding-top: 150px;


}
.career-description{
    color: #FFF;;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 20px;
}
.carrer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-item ul li{
  list-style: none;
  padding-right: 30px;
}
.career-btn{
    padding: 20px 40px;
    border-radius: 48px;
    background: #FFF;
    border: none;   
    color: palevioletred;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;

}
/* pree footer section */
.pre-footer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;gap: 30px;
}
.pre-footer-img{
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
    gap: 10px;
}
.icons{
    width: 60px;
}
/* footer */
.footer{
    background: #0B0223;
}
.logo-container{
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer-title{
    color: white;
    
}
.anchor-list a{
    color: #FFF;
    text-decoration: none;
  padding-left: 150px;
}
.footer-icon{
  margin-left: 150px;
  margin-top: 40px;
 text-align: center;
 margin-left: -10px;
 
}
.footer-icons{
   padding-left: 10px;

   
}
.last-item{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    padding-bottom: 50px;
    font-size: 12px;
}